@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus {
  outline: 0px;
  border: 1px solid #f4aa90;
}

#formContainer #cabecera input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #d1d5db;
}

#detallesVale input:focus,
#transferDet input:focus {
  outline: none;
  border: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#spinQR {
  margin: auto;
  border: 6px solid #fff;
  border-radius: 100%;
  border-top-color: #ea580c;
  border-bottom-color: #ea580c;
  width: 25px;
  height: 25px;
  animation: loading 1.5s infinite linear;
}

.swal2-actions {
  margin: 0 auto;
}

.swal2-radio {
  display: grid !important;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
